<h2>You are logged in as: <%= current_user.first_name %> <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit class="row-btn" value='Logout'>
<% end %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beginning Date</th>
      <th>Ending Date</th>
      <th>Budget
      <th>Action
    </tr>
  </thead>

  <tbody>

      <tr>

        <%= form_for(@trip) do |f| %>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_field :beg_date %></td>
        <td><%= f.text_field :end_date %></td>
        <td><%= f.text_field :budget %></td>
        <td>
          <%= f.submit class:"submit-btn" %>
        <% end %>
        </td>
      </tr>

  </tbody>
</table>
