
<div class="main-form">

  <h1 class ='sign'>Hello,<%=@user.username%></h1>
  <% binding.pry%>

  <h1>Trips</h1>

  <button type="button" name="new-trip" class='message-btn'><%= link_to 'Create Trip', new_trip_path %></button>
  <br />

  <% @trips.each do |trip| %>

  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Beginning Date</th>
        <th>Ending Date</th>
        <th>Budget
      </tr>
    </thead>

    <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.name %></td>
          <td><%= trip.beg_date %></td>
          <td><%= trip.end_date %></td>
          <td><%= trip.budget %></td>
          <td>
            <%= link_to 'View', trip %> |
            <%= link_to 'Edit', edit_trip_path(trip) %> |
            <%= link_to 'Delete', trip, method: :delete, data: { confirm: 'For real?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
