
<h2>You are logged in as: <%= current_user.first_name %> <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit class="row-btn" value='Logout'>
<% end %></h2>

<div class="main-form">

  <h1>Trips</h1>

  <button type="button" name="new-trip" class='submit-form'><%= link_to 'Create a Trip', new_trip_path %></button>


  <% if @trips.count > 0 %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Beginning Date</th>
          <th>Ending Date</th>
          <th>Budget
          <th>Action
        </tr>
      </thead>




    <% @trips.each do |trip| %>


        <tbody>

             <tr class="<%= @trips.done(DateTime.now).include?(trip) ? "done" : ''%>"
              <%= form_for(trip) do |f| %>
              <td><%= f.text_field :name %></td>
              <td><%= f.text_field :beg_date %></td>
              <td><%= f.text_field :end_date %></td>
              <td><%= f.text_field :budget %></td>
              <td>
                <%= f.submit "Update", class:"row-btn" %>
              <% end %>
              <%= form_tag trip_path(trip.id), method: "delete" do %>
                  <%= submit_tag "Delete", class:"row-btn" %>
              <% end %>
              <button type="button" name="new-days" class='submit-btn'><%= link_to 'Plan Your Trip', trip_path(trip.id) %></button>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%end%>
    </div>
