<div class="main-form">
<%= form_for @trip do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.text_field :beg_date %>
 <%= f.text_field :end_date %>
  <%= f.label :budget %>
  <%= f.text_field :budget %>


  <%= f.submit "Update",class:'submit' %>
<% end %>
</div>

<div class="main-form">

  <button type="button" name="new-ticket" class='submit-form'><%= link_to 'Create a Ticket', new_trip_ticket_path(@trip) %></button>


</div>
