<div class="main-form">


  <%= render partial: "form" %>

</div>

<div class="ticket-form">

  <h1>Tickets</h1>

   <% if @trip.tickets.count > 0 %>

          <h2><%= @trip.name %></h2>
          <table>
            <thead>
            <tr>
              <th>Departing Airport</th>
              <th>Arrival Airport</th>
              <th>Departing Date/Time</th>
              <th>Arrival Date/Time</th>
              <th>Price</th>
              <th>Airline</th>
              <th>Reservation</th>
              <th>Action</th>
            </tr>
          </thead>
              <tbody>

          <% @trip.tickets.each do |ticket| %>
              <tr>
                <%= form_for(ticket) do |f| %>
                    <td><%= f.text_field :dep_airport%></td>
                    <td><%= f.text_field :arr_airport%></td>
                    <td><%= f.text_field :dep_time%></td>
                    <td><%= f.text_field :arr_time%></td>
                    <td><%= f.text_field :price%></td>
                    <td><%= f.text_field :airline%></td>
                    <td><%= f.text_field :reservation%></td>
                    <%= f.hidden_field :trip_id %>
                <td>  <%= f.submit "Update", class:"row-btn" %>
                <% end %>
                <%= form_tag trip_ticket_path(@trip.id, ticket.id), method: "delete" do %>
                    <%= submit_tag "Delete", class:"row-btn" %>
                <% end %>

                </td>
            <% end %>
            </tr>

        </tbody>
      </table>
    <% end %>
    <button type="button" name="new-ticket" class='submit-form'><%= link_to 'Add a New Ticket', new_trip_ticket_path(@trip.id) %></button>
</div>
