

<body>
  <div class="main">
    <p class="sign" align="center">Log in</p>



    <%= form_for @user, url: login_path, method: :post do |f| %>

      <%= f.text_field :username, class:"un", placeholder:'Username' %>

      <%= f.password_field :password, class:"pass", placeholder:"Password" %>

      <%= f.submit "Log In"%>

       Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>

      <% end %>

  </div>
</body>
