

<body>
  <div class="main-form">
    <p class="sign" align="center">Log in</p>



    <%= form_for @user, url: login_path, method: :post do |f| %>

      <%= f.text_field :username, class:"un", placeholder:'Username' %>

      <%= f.password_field :password, class:"pass", placeholder:"Password" %>

      <%= f.submit "Log In", class:'submit'%>


      <p><button type="button" name="sign-up"class="submit" align="center"><%= link_to(controller: 'users', action: 'new') { 'sign up' } %></button></p>
      <p><button type="button" name="facebook"class="submit"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></button></p>

      <% end %>

  </div>
</body>
